<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DIDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DIDemoTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Realm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9995308C25022E0800F718CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F8690124FCEADF0068C334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F8691724FCEAE10068C334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F8692224FCEAE10068C334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
